-- MySQL dump 10.13  Distrib 8.0.33, for Win64 (x86_64)
--
-- Host: localhost    Database: pedal
-- ------------------------------------------------------
-- Server version	8.0.33

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_message`
--

DROP TABLE IF EXISTS `chat_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_message` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `value` longtext NOT NULL,
  `date` datetime(6) NOT NULL,
  `user` longtext NOT NULL,
  `room` longtext NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_message`
--

LOCK TABLES `chat_message` WRITE;
/*!40000 ALTER TABLE `chat_message` DISABLE KEYS */;
INSERT INTO `chat_message` VALUES (1,'hellow','2023-11-15 11:36:08.657617','122','1'),(2,'hellow user','2023-11-15 11:36:29.136945','2023H1120190P','1');
/*!40000 ALTER TABLE `chat_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chat_room`
--

DROP TABLE IF EXISTS `chat_room`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_room` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` longtext NOT NULL,
  `cycle_id` longtext NOT NULL,
  `user_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `chat_room_user_id_0cd24bcd_fk_auth_user_id` (`user_id`),
  CONSTRAINT `chat_room_user_id_0cd24bcd_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_room`
--

LOCK TABLES `chat_room` WRITE;
/*!40000 ALTER TABLE `chat_room` DISABLE KEYS */;
INSERT INTO `chat_room` VALUES (1,'816','8',16);
/*!40000 ALTER TABLE `chat_room` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(12,'chat','message'),(13,'chat','room'),(5,'contenttypes','contenttype'),(8,'pedal','appuser'),(7,'pedal','cycle'),(10,'pedal','order'),(9,'pedal','payment'),(11,'pedal','rent'),(14,'pedal','transaction'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedal_appuser`
--

DROP TABLE IF EXISTS `pedal_appuser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedal_appuser` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `profile_img` varchar(100) DEFAULT NULL,
  `address` varchar(100) NOT NULL,
  `phone` varchar(15) NOT NULL,
  `authUser_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pedal_appuser_authUser_id_8a440f1f_fk_auth_user_id` (`authUser_id`),
  CONSTRAINT `pedal_appuser_authUser_id_8a440f1f_fk_auth_user_id` FOREIGN KEY (`authUser_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedal_appuser`
--

LOCK TABLES `pedal_appuser` WRITE;
/*!40000 ALTER TABLE `pedal_appuser` DISABLE KEYS */;
INSERT INTO `pedal_appuser` VALUES (1,'images/Users/abhay_licence.jpg','MSA2102','8320917027',14),(2,'images/Users/HD-wallpaper-eren-yeager-attack-on-titan-shingeki-no-kyojin-manga-mikasa-anime-levi.jpg','Paradis Island','123456789',15),(3,'images/Users/cycle2.jpg','M-501,Sardar Patel Nagar','08320917027',16);
/*!40000 ALTER TABLE `pedal_appuser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedal_cycle`
--

DROP TABLE IF EXISTS `pedal_cycle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedal_cycle` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cycle_img` varchar(100) DEFAULT NULL,
  `owner_id` bigint DEFAULT NULL,
  `dop` datetime(6) NOT NULL,
  `model` varchar(50) NOT NULL,
  `price` int NOT NULL,
  `lend_or_sell` varchar(50) NOT NULL,
  `description` varchar(5000) DEFAULT NULL,
  `is_avail` tinyint(1) NOT NULL,
  `no_of_rents` int NOT NULL,
  `total_stars` int NOT NULL,
  `is_being_rented` tinyint(1) NOT NULL,
  `end_time` datetime(6) NOT NULL,
  `is_sold` tinyint(1) NOT NULL,
  `sold_to_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pedal_cycle_owner_id_id_c532e4c0` (`owner_id`),
  KEY `pedal_cycle_sold_to_id_0b083c27_fk_pedal_appuser_id` (`sold_to_id`),
  CONSTRAINT `pedal_cycle_owner_id_0d5ea965_fk_pedal_appuser_id` FOREIGN KEY (`owner_id`) REFERENCES `pedal_appuser` (`id`),
  CONSTRAINT `pedal_cycle_sold_to_id_0b083c27_fk_pedal_appuser_id` FOREIGN KEY (`sold_to_id`) REFERENCES `pedal_appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedal_cycle`
--

LOCK TABLES `pedal_cycle` WRITE;
/*!40000 ALTER TABLE `pedal_cycle` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedal_cycle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedal_order`
--

DROP TABLE IF EXISTS `pedal_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedal_order` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `razorpay_order_id` varchar(50) NOT NULL,
  `payment_staus` varchar(50) NOT NULL,
  `cycle_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `amount` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `razorpay_order_id` (`razorpay_order_id`),
  KEY `pedal_orders_cycle_id_e81abf9c_fk_pedal_cycle_id` (`cycle_id`),
  KEY `pedal_orders_user_id_79de28f0_fk_pedal_appuser_id` (`user_id`),
  CONSTRAINT `pedal_orders_cycle_id_e81abf9c_fk_pedal_cycle_id` FOREIGN KEY (`cycle_id`) REFERENCES `pedal_cycle` (`id`),
  CONSTRAINT `pedal_orders_user_id_79de28f0_fk_pedal_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `pedal_appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedal_order`
--

LOCK TABLES `pedal_order` WRITE;
/*!40000 ALTER TABLE `pedal_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedal_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedal_payment`
--

DROP TABLE IF EXISTS `pedal_payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedal_payment` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `razorpay_payment_id` varchar(50) NOT NULL,
  `razorpay_order_id` varchar(50) NOT NULL,
  `razorpay_signature` varchar(1000) NOT NULL,
  `amount` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `razorpay_payment_id` (`razorpay_payment_id`),
  UNIQUE KEY `razorpay_order_id` (`razorpay_order_id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedal_payment`
--

LOCK TABLES `pedal_payment` WRITE;
/*!40000 ALTER TABLE `pedal_payment` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedal_payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedal_rent`
--

DROP TABLE IF EXISTS `pedal_rent`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedal_rent` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `start_time` datetime(6) NOT NULL,
  `end_time` datetime(6) NOT NULL,
  `is_avail` tinyint(1) NOT NULL,
  `cycle_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `payment_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pedal_rent_cycle_id_cd53ce25_fk_pedal_cycle_id` (`cycle_id`),
  KEY `pedal_rent_user_id_2e04bf08_fk_pedal_appuser_id` (`user_id`),
  KEY `pedal_rent_payment_id_160b31c0_fk_pedal_payment_id` (`payment_id`),
  CONSTRAINT `pedal_rent_cycle_id_cd53ce25_fk_pedal_cycle_id` FOREIGN KEY (`cycle_id`) REFERENCES `pedal_cycle` (`id`),
  CONSTRAINT `pedal_rent_payment_id_160b31c0_fk_pedal_payment_id` FOREIGN KEY (`payment_id`) REFERENCES `pedal_payment` (`id`),
  CONSTRAINT `pedal_rent_user_id_2e04bf08_fk_pedal_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `pedal_appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedal_rent`
--

LOCK TABLES `pedal_rent` WRITE;
/*!40000 ALTER TABLE `pedal_rent` DISABLE KEYS */;
INSERT INTO `pedal_rent` VALUES (1,'2023-11-14 15:12:47.216643','2023-11-14 17:12:47.216643',0,7,1,4),(2,'2023-11-14 22:44:19.300952','2023-11-15 00:44:19.300952',0,1,3,6),(3,'2023-11-14 23:39:23.024460','2023-11-15 01:39:23.024460',0,5,3,7),(4,'2023-11-15 15:24:58.578114','2023-11-15 16:24:07.154901',0,9,3,10),(5,'2023-11-16 11:48:09.007103','2023-11-16 12:47:18.537420',0,9,2,12),(6,'2023-11-17 10:51:20.432692','2023-11-17 11:46:31.222979',0,1,3,13),(7,'2023-11-17 11:06:54.722034','2023-11-17 12:05:52.779873',0,5,2,14),(8,'2023-11-17 15:19:45.884254','2023-11-17 17:19:00.898789',1,9,2,15);
/*!40000 ALTER TABLE `pedal_rent` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedal_transaction`
--

DROP TABLE IF EXISTS `pedal_transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedal_transaction` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `transaction_time` datetime(6) NOT NULL,
  `transaction_name` varchar(50) NOT NULL,
  `cycle_id` bigint DEFAULT NULL,
  `payment_id` bigint DEFAULT NULL,
  `transaction_with_id` bigint DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pedal_transaction_cycle_id_7eb8c7e4_fk_pedal_cycle_id` (`cycle_id`),
  KEY `pedal_transaction_payment_id_d8b8cb99_fk_pedal_payment_id` (`payment_id`),
  KEY `pedal_transaction_transaction_with_id_804f0433_fk_pedal_app` (`transaction_with_id`),
  KEY `pedal_transaction_user_id_5d00438e_fk_pedal_appuser_id` (`user_id`),
  CONSTRAINT `pedal_transaction_cycle_id_7eb8c7e4_fk_pedal_cycle_id` FOREIGN KEY (`cycle_id`) REFERENCES `pedal_cycle` (`id`),
  CONSTRAINT `pedal_transaction_payment_id_d8b8cb99_fk_pedal_payment_id` FOREIGN KEY (`payment_id`) REFERENCES `pedal_payment` (`id`),
  CONSTRAINT `pedal_transaction_transaction_with_id_804f0433_fk_pedal_app` FOREIGN KEY (`transaction_with_id`) REFERENCES `pedal_appuser` (`id`),
  CONSTRAINT `pedal_transaction_user_id_5d00438e_fk_pedal_appuser_id` FOREIGN KEY (`user_id`) REFERENCES `pedal_appuser` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedal_transaction`
--

LOCK TABLES `pedal_transaction` WRITE;
/*!40000 ALTER TABLE `pedal_transaction` DISABLE KEYS */;
INSERT INTO `pedal_transaction` VALUES (1,'2023-11-17 10:50:40.520067','Rent',1,13,1,3),(2,'2023-11-17 10:50:40.520067','Lend',1,13,3,1),(3,'2023-11-17 10:59:58.879597','Rent',5,14,1,2),(4,'2023-11-17 10:59:58.879597','Lend',5,14,2,1),(5,'2023-11-17 11:27:50.638041','Rent',9,15,1,2),(6,'2023-11-17 11:27:50.638041','Lend',9,15,2,1);
/*!40000 ALTER TABLE `pedal_transaction` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-11-17 15:45:04
