{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{% block body %}
{% if user.is_authenticated %}
{% if owned_cycles  %}   

<section style="background-color: whitesmoke;">
    <div class="container my-5 py-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Cycle Id</th>
            <th scope="col">Cycle Model</th>
            <th scope="col">Being Rented</th>
            <th scope="col">Rentee Name</th>
            <th scope="col">Hrs</th>
          </tr>
        </thead>
        
        <tbody>
          {% for cycle in owned_cycles %}
          <tr>
            <th scope="row">{{cycle.cycle_id}}</th>
            <td>{{cycle.cycle_model}}</td>
            {% if cycle.being_rented %}
            <td>{{cycle.being_rented}}</td>
            <td>{{cycle.rentee_name}}</td>
            <td>NA</td>
            {% else %}
            <td>No</td>
            <td>NA</td>
            <form id="lend" method="post" action="/lend">
              {% csrf_token %}
            <td><input type="number" id="quantity" name="quantity" min="1" max="5"></td>
            <input type="hidden" name="cycle_id" value="{{ cycle.cycle_id }}" />
            <td><button id="lend"class="btn btn-success btn-sm float-right mx-2" type="submit">Lend</button></td>
            </form>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

</section>

<!-- <section style="background-color: whitesmoke;">
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="card text-dark">
            <h4 class="mb-0">Post your Review</h4>
            <div class="form-outline w-100">
                <textarea class="form-control" id="textAreaExample" rows="4"
                  style="background: #fff;"></textarea>
                <label class="form-label" for="textAreaExample"></label>
            </div>
            <div class="float-end mt-2 pt-1">
              <button type="button" class="btn btn-primary btn-sm">Post comment</button>
              <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
            </div>
        </div>
    </div>
  </div>
</div>
</section> -->

{%endif%}

{% else %}
        <br><br>
        <h1>Sorry! You Must Be Logged In To View This Page...</h1>
      
      <br>                                   
      
          
        <h1 class="h2"><a href="/login">Login Here</a></div></h1>
      
        
        
      {% endif %}


{% endblock body %}
